#initializing
  h1 Please wait while the CompassionPit chat loads
  p This should take no longer than
    span#secondsTilAppLoad
     #{10}
    &nbsp;seconds.
  #progressbar

div(id="main",style="display:none")
  #audioPlayer
  #left
    #entertainment(style="display: none")
        #entertainmentGame(style="display: none; text-align: center")
            //iframe(src="board.htm", height=350, width=300, id="tetris_board", name="tetris_board")
            object(classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0", width="350", height="340", title="tetrisFlash")
                param(name="movie", value="nbloxFreeTetris.swf")
                param(name="quality", value="high")
                embed(src="nbloxFreeTetris.swf", quality="high", pluginspage="http://www.macromedia.com/go/getflashplayer", type="application/x-shockwave-flash", width="350", height="340")
            h3 As soon as your chat partner enters, the game will be hidden
        #entertainmentSounds(style="display: none; text-align: center")     
            #wallpapers
                img
            h3 As soon as your chat partner enters, the show will stop
    #column_left_chat
      div#chatWindow
        div
    #chat_input
      a(href="#", id="rage_tut",style="margin-left:6px") Did you know you can use rage faces in the chat? Click for a popup with instructions
      form
        textarea#inform(type="text", autocomplete="off", size="110")
        input#sendmessage(type="submit", value="SEND")
        div#adSenseAd(style="text-align: center; margin: 0px auto")
          script
            google_ad_client = "ca-pub-6036766792552196";
            /* CompassionPit Chat 468x60 Bottom */
            google_ad_slot = "6889968105";
            google_ad_width = 468;
            google_ad_height = 60;
          script(src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
  #right
    #buttons1
      #status &nbsp;
      ul
        li.scoreCard
          div#scoreCard
            div#score
            div#diff
        li
          a(href="#", id="newPartner") Find a new partner
        li(style="display:none",id="apologies")
          select(id="apologySelect")
            option(value="I feel like we've hit a brick wall in this conversation") I feel like we've hit a brick wall in this conversation.
            option(value="I feel uncomfortable chatting with you.") I feel uncomfortable chatting with you.
            option(value="I feel like you are being rude, and I would like to be treated kindly.") I feel like you are being rude, and I would like to be treated kindly.
            option(value="This is a situation that I'm not comfortable discussing or that I don't have enough knowledge in") This is a situation that I'm not comfortable discussing or that I don't have enough knowledge in.
            option(value="I don't feel I can help you") I don't feel I can help you.
            option(value="You haven't been responding, so I am moving on so I can help somebody else.") You haven't been responding, so I am moving on so I can help somebody else.
          button(id="giveApology") Share reason
        li#reportAbuse
          a(href="#") Report abuse?          
        li
          label
            input(type="checkbox", id="share_username")
            #{" Share my forums username"}          
        li
          label
            input(type="text", id="twitter_username", value="@", size=10) 
            #{"Your Twitter username?"}
          label
            button(id="encourage_twitter_follow") Suggest they follow you
        li
          label
            input(type="checkbox", id="enable_sound")
            #{" Enable Sound"}
        li
          label
            input(type="checkbox", id="enable_typing")
            #{" Visible Typing"}
        #typing_status
        div(class="announce")
        //-
          div#spinner
          div#reputationLogin            
            div(class="form_errors",id="form_errors")
            label(class="login")
              input(type="text", id="loginUsername", name="loginUsername", class="login", placeholder="Username")
            label(class="login")
              input(type="text", id="loginPassword", name="loginPassword", class="login", placeholder="Password")
            button(id="login", class="login") Log In!
            br
            a(href="javascript:return false;", id="register_account", class="login_mistake") Don't have an account? Register one at the CompassionPit Forums!
        div#partnerUsername
        div#listenerFeedback
          p Please give feedback to keep CompassionPit high-quality
            button(id="helpful") This person is a good listener! =)
            button(id="notHelpful") This person is a bad listener :-(
        div#loggedInAs
          p Currently logged in as:&nbsp;
          span#currentUser
          a(style="display:block", href="/forum/z_logout.php?do=logout", onclick="javascript:window.onbeforeunload=undefined;") Log Out

script
  window.CLIENT_TYPE = !{JSON.stringify(type)};

script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js")
script(src="chat-init.js")