#initializing
  h1 Please wait while the CompassionPit chat loads
  p This should take no longer than 
    span#secondsTilAppLoad
     #{10}
    &nbsp;seconds.
  #progressbar
    
div(id="main",style="display:none")
  #audioPlayer
  #left
    #column_left_chat
      div#chatWindow
        div
    #chat_input
      form
        textarea#inform(type="text", autocomplete="off", size="110")
        input#sendmessage(type="submit", value="SEND")
        script
          google_ad_client = "ca-pub-6036766792552196";
          /* CompassionPit Chat 468x60 Bottom */
          google_ad_slot = "6889968105";
          google_ad_width = 468;
          google_ad_height = 60;
        script(src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
  #right
    #buttons1
      #status &nbsp;
      ul
        li
          a(href="#", id="newPartner") Find a new partner
        li#reportAbuse
          a(href="#") Report abuse?
        li
          label
            input(type="checkbox", id="enable_sound")
            #{" Enable Sound"}
        li
          label
            input(type="checkbox", id="enable_typing")
            #{" Visible Typing"}
        #typing_status
        //-
          div#spinner          
          div#reputationLogin
            div(class="announce")
              p Listeners can now optionally log in using their CompassionPit forums account!
            div(class="form_errors",id="form_errors")
            label(class="login")
              input(type="text", id="loginUsername", name="loginUsername", class="login", placeholder="Username")
            label(class="login")
              input(type="text", id="loginPassword", name="loginPassword", class="login", placeholder="Password") 
            button(id="login", class="login") Log In!
            br
            a(href="javascript:return false;", id="register_account", class="login_mistake") Don't have an account? Register one at the CompassionPit Forums!
        div#listenerFeedback
          p Is this person a good listener?
            button(id="helpful") Yes!
            button(id="notHelpful") No
        div#loggedInAs
          p Currently logged in as:&nbsp;
          span#currentUser
          a(style="display:block", href="/forum/z_logout.php?do=logout", onclick="javascript:window.onbeforeunload=undefined;") Log Out  
        

- if (typeof(show_intercom) != "undefined" && show_intercom)
  script#IntercomSettingsScriptTag
    var user_settings = !{JSON.parse(user_settings)};
    var intercomSettings = {
       app_id: 'fc0u2tpj',
       email: user_settings.email, 
       created_at: user_settings.created_at 
     };
   script
     (function() {
      function async_load() {
        var s = document.createElement('script');
           s.type = 'text/javascript'; s.async = true;
           s.src = 'https://api.intercom.io/api/js/library.js';
           var x = document.getElementsByTagName('script')[0];
           x.parentNode.insertBefore(s, x);
         }
         if (window.attachEvent) {
           window.attachEvent('onload', async_load);
         } else {
           window.addEventListener('load', async_load, false);
         }
       })();

script
  //- Google Website Optimizer Tracking Script
  var _gaq = _gaq || [];
  _gaq.push(['gwo._setAccount', 'UA-17971348-2']);
  _gaq.push(['gwo._trackPageview', '/2386081484/goal']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

script
  window.CLIENT_TYPE = !{JSON.stringify(type)};
  
script(src="chat-init.js")
