//- Google Website Optimizer Control Script
script
  function utmx_section(){}function utmx(){}
  (function(){var k='1104807929',d=document,l=d.location,c=d.cookie;function f(n){
  if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return escape(c.substring(i+n.
  length+1,j<0?c.length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
  d.write('<sc'+'ript src="'+
  'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
  +'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
  +new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"></sc'+'ript>')})();

//- Google Website Optimizer Tracking Script
script
  var _gaq = _gaq || [];
  _gaq.push(['gwo._setAccount', 'UA-17971348-2']);
  _gaq.push(['gwo._trackPageview', '/1104807929/test']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
script
  window.startingRoomCounts = !{JSON.stringify(roomCounts)};
  if (!document.cookie.match(/referrer=http/)) {
      document.cookie = "referrer=" + encodeURIComponent(document.referrer);
  }

.cont_lft.fltlft
  h1#counts Currently Online: 
    span#listener-count 0
    span Listeners &amp;
    span#venter-count 0
    span Venters
  em Spill your guts to a random chat partner:
  a.vent(href="/vent") &nbsp;
  em Help a random person get it off their chest:
  a.listen(href="/vent") &nbsp;
  span.new
    span.newframe News
    b
      em No time to chat? Post a message:
      a(href="/forum") Compassion Pit Forum
.cont_rht.fltrht
  h1 Compassion Pit visitors are people dealing with all sorts of life's problems. And we’re here to help...
  em Whether it’s sex, gender identity, relationship problems, sexual identity, domestic abuse, friendship loyalty, sexual perversions, money, crime, sexually transmitted diseases, procrastination, boredom... You name it! Learn more at our 
    a(href="/faq)FAQ Page
  span.testimonial
    b It's like the easiest chat tool I’ve found out there on the internet. I even met my wife on CompassionPit! She just kept listening to me vent and vent, and soon enough, I had myself a stalker! What else to say? I just love it...
      em -Joseph Schmoe
  ul.social
    li
      a(href="#")
        img(src="img/social01.jpg", width="60", height="22")
    li
      a(href="#")
        img(src="img/social02.jpg", width="60", height="22")
    li
      a(href="#")
        img(src="img/social03.jpg", width="50", height="22")
    li
      a(href="#")
        img(src="img/social04.jpg", width="49", height="24")
    li
      a(href="#")
        img(src="img/social05.jpg", width="72", height="24")
.clear
