#main
  #leaderboard
    - var i = 1;
    table(cellpadding=5, bordered="true")
      each user, position in scores
        - position_number = '#' + (i++)
        tr
          td=user
          td=position_number
          td=user.position
          td=user.username
          td=user.score
    
    :markdown
      Leaderboard
      -------------------
      This is a leaderboard.
      
      Improve your rank
      -----------------
      You can improve your position on the leaderboard by becoming a better listener or completing one of the training modules.
      Training modules are coming soon!
