#main
  #leaderboardPage
    
    h2.top The Top 15
    p.top The list is automatically updated every 15 minutes.
    
    - var i = 1;
    table(cellpadding=5, bordered="true", id="leaderboard")
      each user, position in scores
        - position_number = '#' + (i++)
        - if(username === user.username) { var user_position = position_number; }
        tr
          td=position_number
          td.username=user.username
          td=user.score

    div#userLeaderboard
      - if(username && userLeaderboard)
        div#username
          #{username} - #{userLeaderboard.score} points
        - if(userLeaderboard.score !== 'No Score')            
          div#rank
            p You are ranked ##{userLeaderboard.rank}
            - if(userLeaderboard.diff !== 'N/A :)')
              p In order to move up one spot, you need #{userLeaderboard.diff} points.
        - else
          div#rank
            p You are unranked.
      - else 
        p Create an account to improve your position on the leaderboard!
        p Just register on 
          a(href="http://www.compassionpit.com/forums/", target="_blank") The CompassionPit Forums
          , and you can log in the next time you're a listener.
    
    h2.leaderboard Improve your rank
    p You can improve your position on the leaderboard by becoming a better listener or completing one of the training modules.
    p Training modules are coming soon!
