script
  window.dates = !{JSON.stringify(messages)};
#tagline
  h1 Message chart
#main
  #column_left
    #chart_div(style="width:100%;height:400px")
    br.clear
  #column_right
    #buttons1
      form#options
        ul
          li
            label
              input(type="radio", name="grouping", value=60 * 60 * 24 * 7 * 1000)
              #{" Week"}
          li
            label
              input(type="radio", name="grouping", value=60 * 60 * 24 * 1000, checked="checked")
              #{" Day"}
          li
            label
              input(type="radio", name="grouping", value=60 * 60 * 1000)
              #{" Hour"}
          li
            label
              input(type="radio", name="grouping", value=60 * 1000)
              #{" Minute"}
          li
            label
              input(type="radio", name="grouping", value=1000)
              #{" Second"}
        ul
          li
            label
              #{"Start: "}
              input(type="text", name="start-time", size=40)
          li
            label
              #{"End: "}
              input(type="text", name="end-time", size=40)
        
        ul
          li
            label
              input(type="checkbox", name="lines", value="y", checked="checked")
              #{" Lines"}
          li
            label
              input(type="checkbox", name="bars", value="y")
              #{" Bars"}
          li
            label
              input(type="checkbox", name="points", value="y")
              #{" Points"}
  br.clear
